.git
.github
.docker
.env
.env.*
!.env.example
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/*
bootstrap/cache/*.php
tests
docs
scripts
import_bellomo_data.py
.phpunit.cache
.phpstan.cache
